html {
  body {
    .container-fluid {
      max-width: 1000px;
    }
  }
}

.chess-console {
  .player {
    display: inline-block;
    &.to-move:after {
      color: #080;
      margin-left: 8px;
      content: "■";
    }
  }
}