@import "../../../node_modules/bootstrap/scss/bootstrap";
$spacer-small: $spacer / 2;

@import "chess-console";
@import "cm-chessboard";

html {
  body {
    .container-fluid {
      max-width: 1000px;
    }
  }
}