@import "../../node_modules/bootstrap/scss/bootstrap";
@import "chess-console";
@import "../../node_modules/cm-chessboard/styles/cm-chessboard.scss";

html {
  body {
    .container-fluid {
      max-width: 1200px;
    }
  }
}